{% extends "base.html" %}

{% block content %}
    <div class="img">
        <img src="{{ url_for('static', filename='images/default.png') }}" alt="emojie" class="emojie">
    </div>
    <div class="container">
        <form method="POST" action="/analyze/">
            <h1>Social Media Mood</h1>
            <h2>Sentiment Analysis Of Social Media Posts</h2>
            <h3>Enter a topic to analyze the sentiment of social media posts</h3><br>
            <input id="topic" name="topic" type="text" placeholder="Enter a topic..." required><br><br>
            <input id="sub" type="submit" value="Check">
        </form>
    </div>
    {% include 'table.html' %}
{% endblock %}