{% extends "base.html" %}

{% block content %}
    <div class="img">
        {% if data%}
            {% if positive_percentage > negative_percentage and negative_percentage > neutral_percentage %}
                <img src="{{ url_for('static', filename='images/happy.png') }}" alt="emojie" class="emojie">
            {% elif negative_percentage > positive_percentage and negative_percentage > neutral_percentage %}
                <img src="{{ url_for('static', filename='images/sad.png') }}" alt="emojie" class="emojie">
            {% else %}
                <img src="{{ url_for('static', filename='images/neutral.png') }}" alt="emojie" class="emojie">
            {% endif %}
        {% else %}
            <img src="{{ url_for('static', filename='images/default.png') }}" alt="emojie" class="emojie">
        {% endif %}
    </div>
    <div class="container">
        <form method="POST" action="/predict/">
            <h1>Social Media Mood</h1>
            <h2>Sentiment Analysis Of Social Media Posts</h2>
            <h3>Enter a topic to analyze the sentiment of social media posts</h3><br>
            <input id="topic" name="topic" type="text" placeholder="Enter a topic..." required><br><br>
            <input id="sub" type="submit" value="Check">
        </form>
    </div>
    {% include 'table.html' %}
{% endblock %}