<div class="result">
    {% if topic %}
        {% if data %}
            <h2>Showing results for "{{ topic }}"</h2>
            <p class="pos">Positive posts: {{ positive_percentage }}%</p>
            <p class="neut">Neutral posts: {{ neutral_percentage }}%</p>
            <p class="neg">Negative posts: {{ negative_percentage }}%</p>

            <div class="posts">
                {{ data|safe }}
            </div>
        {% elif error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    {% endif %}
</div>